@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1B2631;
  --secondary: #17202a;
  --accent: #fdfefe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary);
}
